*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.green{
	width: 1000px;
	height: 550px;
	background: green;
	position: relative;

}
.red{
	width: 270px;
	height: 260px;
	background: red;
	border-radius: 100%;
	position: absolute;
	top: 25%;
	left: 32%;
}
.fb{
	width: 150px;
	position: fixed;
	top: 35%;
	right: -5%;
	transition: .8s;
}
.fb:hover{
	right: 40px;
	cursor: pointer;
}
.whatsapp{
	width: 150px;
	position: fixed;
	top: 40%;
	right: -5%;
	transition: .8s;
}
.whatsapp:hover{
	right: 40px;
	cursor: pointer;
}
.twitter{
	width: 150px;
	position: fixed;
	top: 45%;
	right: -5%;
	transition: .8s;
}
.twitter:hover{
	right: 40px;
	cursor: pointer;
}
.in{
	width: 150px;
	position: fixed;
	top: 50%;
	right: -5%;
	transition: .8s;
}
.in:hover{
	right: 40px;
	cursor: pointer;
}
.youtube{
	width: 152px;
	position: fixed;
	top: 55%;
	right: -5%;
	transition: .8s;
}
.youtube:hover{

	right: 40px;
	cursor: pointer;
}
.social-media-icons{
	width: 100%;
	display: block;
	text-align: center;
	padding: 100px, 0px, 0px;
}
.social-media-icons li{
	list-style: none;
	display: inline-block;
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
.name{
	font-size: 40PX;
}
